body {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.btn, .h-btn {
  border-radius: 5px;
  border: 1px lightblue;
  background-color: rgb(11, 41, 193);
  color: white;
  margin-top: 10px 0 10px 0;
  padding: 10px;
}

/* Header css starts here */
.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 40px;
}

.logo-name {
  padding-left: 150px;
  color: rgb(11, 41, 193);
  font-size: 15px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.h-btn {
  margin-right: 300px;
}

.re-btn{
  text-decoration: none;
  background-color: rgb(11, 41, 193);
  color: white;
}

/* Header ends here */
/* hero section starts here */

.hero-card {
  width: 90%;
  height: 400px;
  background-image: linear-gradient(135deg, #a3bffa 0%, #c3aed6 100%);
  margin: 0 5% 0 5%;
  position: relative;
}

.hero-heading1 {
  font-size: 60px;
  margin: 10px 0 10px 0;
}

.hero-heading2 {
  font-size: 60px;
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.herocard-details {
  position: absolute;
  top: 10%;
  left: 35%;
}

.hero-para1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-para2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(189, 130, 20);
}

.herocard-btn {
  position: absolute;
  top: 70%;
  left: 41%;
}

/* Event Highlights begins here */

.E-Highlights {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.Event-AI {
  width: 25%;
  border: 1px solid rgb(173, 200, 207);
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
}

/* Featured Speakers begins here */

.FS-container {
  width: 90%;
  background-color: rgb(252, 250, 250);
  height: 380px;
  margin: 0 5% 10px 5%;
  padding-bottom: 20px;
}

.FS-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.FS-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.FS-img {
  height: 150px;
  width: 300px;
  margin-bottom: -5px;
}

.FS-info {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 250px;
  padding: 10px;
}

.FS-info2 {
  margin-top: -10px;
  margin-bottom: -5px;
}

.FS-para {
  font-style: normal;
  font-size: 12px;
}


.FS-btn {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Scheduled preview begins here */

.sp-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}

.sp-details {
  border: 1px solid rgb(211, 197, 197);
  border-radius: 5px;
  padding: 10px;
  width: 270px;
  height: 150px;
}

.sp-info {
  margin: -10px 0 -5px 0;
}

.sp-list {
  list-style: none;
  padding-left: 0px;
}

.sp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

/* Scheduled preview ends here */

/* Enterprise Future starts here */

.EF-container {
  width: 90%;
  margin: 0 5% 0 5%;
  background-image: linear-gradient(135deg, #c3d9ff 0%, #d9c2f0 100%);
  height: 250px;
  padding: 10px 0 10px 0;
}

.EF-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EF-para, .Foot-para {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EF-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Enterprise Future ends here */

/* Footer starts here */

.Footer-main{
  background-color: rgb(253, 253, 253);
  width: 90%;
  margin: 0 5% 0 5%;

}

.Foot-container{
width: 90%;
display: flex;
justify-content: center;
align-items: baseline;
gap: 30px;
margin-top: 40px;
}

.Foot1, .Foot2{
  height: 150px;
  width: 300px;
}

.Foot1{
  margin-top: 0px;
}

.FC-header{
  margin-top: 0px;
}

.Foot-listed{
  list-style: none;
  padding-left: 0px;
}

.Foot-detail{
  padding: 5px 0 5px 0;
}

.line{
  width: 80%;
  padding-right: 40px;
}

/* Footer ends here */

